# Start of script
# Sample KDE desktop entry
[Desktop Entry]
Type=Application
Exec=Linux_Defender %u
MimeType=application/x-your-mime-type;
Icon=Pax_tux.png
X-DocPath=yourapp/index.html
Terminal=false
Name=Your App
GenericName=Some Generic Name
Comment=Short Description Of Your App
Categories=Qt;KDE;
# File info
# File type: KDE desktop file (*.desktop)
# File version: 1 (2022 Sunday, February 20th at 6:43 pm)
# Line count (including blank lines and compiler line): 19
# End of script
